<div class="container profile-container">
    <!-- page title -->
    <div class="row profile-header">
        <div class="col col-md-10 col-sm-10 col-xs-10">
            <h2>Settings</h2>
        </div>
    </div>

    <!-- subheader. This row is having border bottom -->
    <div class="row profile-sub-header">
        <div class="col col-10 col-sm-10 col-xs-10 border-bottom">
            <span><label>Roles:</label><label>Field Tech</label></span>
        </div>
    </div>

    <div class="row profile-body">
        <div class="col col-10 col-sm-10 col-xs-10 border-bottom">
            <div class="row">
                <!-- settings form -->
                <div class="col col-md-6 col-sm-6 col-xs-6">
                    <form role="form">
                        <div class="form-group has-feedback">
                            <label for="firstname">First Name</label>
                            <input type="text" class="form-control" id="firstname">
                            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="lastname">Last Name</label>
                            <input type="text" class="form-control" id="lastname">
                            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email">
                            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="phonenumber">Phone Number</label>
                            <input type="text" class="form-control" id="phonenumber">
                            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                        </div>
                    </form>
                </div>
                <!-- profile photo and notes -->
                <div class="col col-md-6 col-sm-6 col-xs-6">
                    <div class="profile-photo col-centered">
                        <img class="img-responsive" src="http://placehold.it/128/59595b/ffffff.png&text=NCR">
                        <span><label>Upload Image</label></span>
                    </div>
                    <div class="profile-notes col-centered">
                        <span><label>Notes</label></span>
                        <img class="img-responsive" src="http://placehold.it/350x150/e1e2de/afb1ad.png&text=X">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- change password -->
    <div class="row profile-body">
        <div class="col col-10 col-sm-10 col-xs-10 border-bottom">
            <div class="row">
                <div class="col col-md-6 col-sm-6 col-xs-6">
                    <form role="form">
                        <div class="form-group has-feedback">
                            <label for="password">Change Password</label>
                            <input type="password" class="form-control" id="password">
                            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="confirmpassword">Confirm Password</label>
                            <input type="password" class="form-control" id="confirmpassword">
                            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- submit buttons -->
    <div class="row profile-submit">
        <div class="col col-md-10 col-sm-10 col-xs-10">
            <div class="row">
                <div class="col col-md-6 col-sm-6 col-xs-6">

                </div>
            </div>
        </div>
    </div>
</div>